
<% provide(:title, 'Edit user') %>

<div>
  <div>
    <%= form_for @user, :html => { :multipart => true } do |f| %>
      
      <%= render 'shared/error_messages', object: @user %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :bio %>
      <%= f.text_area :bio %>      

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
      
      <%= image_tag @user.avatar(:medium) %>
      <%= f.file_field :avatar %>
      
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>