<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="page_wrapper" class="container">
      <%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <div id='my_content'>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    
    <div id='myPublisherDiv'>
    </div>
    
  </body>
  
  <script type='text/template' id='chat_window_template'>
    <h3>Online Counselors</h3>
    <ul></ul>
    <div class="clear"></div>
  </script>
  
  <script type='text/template' id='chat_user_row_template'>
    <img src='{{ avatar.small }}' alt='{{ name }}' /> {{ name }} <br/>
    <p>
      {{ bio }}
    </p>
    <span class='video_chat_me'>chat with {{ name }}</span>
  </script>

  <script type='text/template' id='chat_user_row_template'>
    <img src='{{ avatar.small }}' alt='{{ name }}' /> {{ name }} | <span class='video_chat_me'>video chat</span>
  </script>
  
  <script type="text/template" id="video_chat_invitation_template">
    {{ name }} wishes to chat with you <br/>
      (<span class='accept'>accept</span> | <span class='decline'>decline</span>)
  </script>
  
  <script type="text/template" id="chat_box_template">
    <div id="chat_messages_wrapper">
      <ul></ul>
    </div>
    <input type="text" id="chat_input" name="chat_input" />
  </script>
  
  <script type="text/template" id="chat_message_template">
    <span class='chat_message_name'>{{ user.name }}</span>: {{ message }}
  </script>  
  
  <script type="text/template" id="chat_is_typing_template">
    {{ user.name }} {{ message }}
  </script>
  
  <script type="text/template" id="collaboration_template">
    Stuff
  </script>
  
  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript">
    <% unless current_user.nil? %>
      window.current_user = new User(<%= current_user.to_json.html_safe %>);
    <% else %>
      window.current_user = false;
    <% end %>
  </script>
  
</html>
