<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
    <div id='myPublisherDiv'>
    </div>
    
  </body>
  
  <script type='text/template' id='chat_window_template'>
    <h3>Online users</h3>
    <ul></ul>
  </script>
  
  <script type='text/template' id='chat_user_row_template'>
    {{ name }} | <span class='video_chat_me'>Video Chat Me</span>
  </script>
  
  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript">
    <% unless current_user.nil? %>
      window.current_user = new User(<%= current_user.to_json.html_safe %>);
    <% else %>
      window.current_user = false;
    <% end %>
  </script>
  
</html>
